<% provide(:title, 'Your accounts') %>

<%= link_to "Login with Facebook", '/auth/facebook' %>
<%= link_to "Login with Twitter", '/auth/twitter' %>
<%= link_to "Login with Instagram", '/auth/instagram' %>
<%= @user.name %>


<% @authentications.each do |auth| %>
    <%= auth.provider %>
    <%= auth.uid %>
<% end %>


<% if fb_authenticated?(@user) %>
  <li>You are authenticated with Facebook, Congratulations!</li>
  <%= image_tag @fbdata['picture']['data']['url'].to_s %>
  <%= @fbdata['name'] %>

<% else %>
  <li>We couldn't get your Facebook information. Try Logging in again.</li>
<% end %>

<% if twitter_authenticated?(@user) %>
  <li>You are authenticated with Twitter, Congratulations!</li>
<% else %>
  <li>We couldn't get your Twitter information. Try Logging in again.</li>
<% end %>
