<% provide(:title, "All Feeds") %>

<%= link_to "Refresh Posts", user_refresh_path %>

  <% if fb_authenticated?(@user) %>
    <div class="postings">
    <ul id="post">
    <% @posts.each do |post| %>
        <li><h3 class="userinfo">
        <%= image_tag post.picture %>
        <%= post.author %>
        <span>
        <%= post.timeposted.strftime("%b %d, %Y (%H:%M)") %></span></h3>
        <p class="postcontent">
        <%= post.message %></p>
        <span class="link"><%= link_to "Link", post.link %></span></li>

    <% end %>
    </ul>
    </div>

  <% else %>
    Couldn't retrieve posts.
  <% end %>

  <!--<%= @posts.to_yaml %>-->

<!-- time formatting for posts -->
<!-- <%= post['created_time'].to_time.strftime("%b %d, %Y (%H:%M)") -->
