<% provide(:title, "Posts") %>

  <% if fb_authenticated?(@user) %>
    <div class="postings">
    <% @posts.each do |post| %>
        <li><h2><%= post['created_time'].to_time.strftime("%b %d, %Y (%H:%M)") %>
        <%= post['from']['name'] %>
        <%= image_tag post['from']['picture']['data']['url'].to_s %>
        <%= post['message'] %>
        <%= link_to "Link", post['link'] %></h2></li>
    <% end %>
    </div>

  <% else %>
    Couldn't retrieve posts.
  <% end %>

  <!--<%= @posts.to_yaml %>-->

  <!--<%= @posts2.to_yaml  %>-->
