<% provide(:title, "Twitter") %>

<%= link_to "Refresh Posts", user_refresh_path %>

  <% if twitter_authenticated?(@user) %>
    <div class="container">
    <% @posts.each do |post| %>
        <li>source: <%= post.provider %>
        <%= post.timeposted.strftime("%b %d, %Y (%H:%M)") %>
        <%= post.author %>
        <%= image_tag post.picture %>
        <%= post.message %>
        <%= link_to "Link", post.link %></li>
    <% end %>
    </div>

  <% else %>
    Couldn't retrieve posts.
  <% end %>
